<!-- add_film.html -->

{% extends 'base.html' %}

{% block title %}
Добавить фильм
{% endblock %}

{% block content %}
<br>
<div class="container mt-5">
    <h1 class="text-center">Добавить фильм</h1>
    <form method="POST" class="form">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="title">Название:</label>
            {{ form.title(class="form-control", id="title") }}
        </div>
        <div class="form-group">
            <label for="director">Режиссер:</label>
            {{ form.director(class="form-control", id="director") }}
        </div>
        <div class="form-group">
            <label for="genre">Жанр:</label>
            {{ form.genre(class="form-control", id="genre") }}
        </div>
        <div class="form-group">
            <label for="release_date">Дата выпуска:</label>
            {{ form.release_date(class="form-control", id="release_date") }}
        </div>
        <div class="form-group">
            <label for="premiere_date">Дата премьеры:</label>
            {{ form.premiere_date(class="form-control", id="premiere_date") }}
        </div>
        <input type="submit" value="Добавить" class="btn btn-primary">
    </form>
</div>
{% endblock %}
